.list-group-item-action{
    font-weight: bold;
    font-size: 100vm;
}

.container{
    margin-top: 5%;

}


.list-group  {

    padding-right: 28%;

}

img{
    max-height: 150px;
    width: auto;
}





